Header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #FFFCF9;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

Header h1 a {
    font-weight: 100;
    font-size: 2.5rem;
    color: #CD533B;
    margin: 0;
    text-decoration: none;
}

Header h1 a:hover {
    text-decoration: underline;
}

Header button {
    padding: 0.8rem;
    width: 6.5rem;
}

#sign-up {
    background-color: #13262F;
}

#sign-in {
    background-color: #CD533B;
}